.avatar {
    height: 150px;
}

html, body {
    text-align: center;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    width: 600px;
    height: 400px;
}

.header {
    .description {
        display: flex;
        width: 600px;
        margin: 0 auto;
        align-items: flex-start;
        .avatar {
            border-radius: 50% 50%;
        }
        .contacts {
            padding-left: 10%;
        }
    }
}

.main {
    display: flex;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .education {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14), 0 2px 3px 0 rgba(0, 0, 0, 0.12), 0 0px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 1%;
        margin: 2%;
        font-size: 15px;
        border-radius: 10%;

        &:hover {
            cursor: pointer;
            color: rgb(43, 40, 40);
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.14), 0 4px 9px 0 rgba(0, 0, 0, 0.12), 0 1px 12px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .items {        
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        display: none;
        list-style: none;
    }
}

.swiper-slide {
    background-color: yellowgreen;
}

.swiper-slide {
    img {
        width: 55%;
        cursor: pointer;
    }
}
